/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  background-image: linear-gradient(-90deg, #f9f1e1, #6d5264);
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h3 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
#wrapper h1 {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
#wrapper .wave {
  text-decoration: underline;
  color: white;
}
#wrapper .nav {
  padding-right: 1%;
  padding-top: 30px;
  padding-bottom: 60px;
}
@media (max-width:500px) {
  #wrapper .nav {
    padding-bottom: 5px;
  }
}
#wrapper .nav .nav-contain {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 780px;
}
@media (max-width:500px) {
  #wrapper .nav .nav-contain {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width:500px) {
  #wrapper .nav .nav-contain h1 {
    font-size: 3rem;
    font-weight: 550;
  }
}
#wrapper .nav .nav-contain .nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
@media (max-width:500px) {
  #wrapper .nav .nav-contain .nav-items {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 15px;
    padding-bottom: 5px;
    font-weight: 600;
  }
}
#wrapper .nav .nav-contain .nav-items a {
  color: black;
  font-size: 1.5rem;
  border-radius: 5px;
  text-decoration: none;
  padding: 0.6em 1.2em 0.6em 1.2em;
}
#wrapper .nav .nav-contain .nav-items a:hover {
  background: #6d5264;
  color: white;
}
#wrapper .nav .nav-contain .nav-items #home {
  background-color: #2c3e57;
  color: white;
  border-radius: 5px;
  padding: 0.6em 1.2em 0.6em 1.2em;
}
/***********************/
.head {
  width: 100%;
  height: 300px;
  margin: 0 auto;
  background-image: url("/img/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.head h2,
.head p {
  color: white;
  text-align: center;
  line-height: 100px;
}
/**********/
.crewhead {
  text-align: center;
  color: white;
  text-decoration: underline;
}
.main {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main img {
  width: 300px;
  height: 200px;
  margin-bottom: 2rem;
}
.main .outer2 {
  display: flex;
  justify-content: flex-end;
}
.main .outer2 .second {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 30%;
  text-align: center;
}
@media (max-width:500px) {
  .main .outer2 .second {
    width: 50%;
  }
}
@media (max-width:800px) {
  .main .outer2 .second {
    width: 50%;
  }
}
.main .outer2 .second a {
  text-decoration: none;
  color: black;
}
.main .outer {
  display: flex;
  width: 100%;
}
.main .outer .one-three {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  width: 40%;
  text-align: center;
}
@media (max-width:500px) {
  .main .outer .one-three {
    width: 50%;
  }
}
@media (max-width:800px) {
  .main .outer .one-three {
    width: 50%;
  }
}
.main .outer .one-three a {
  text-decoration: none;
  color: black;
}
/********/
#crew {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#crew img {
  width: 200px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
#crew h3 {
  text-align: center;
}
#crew p {
  text-align: center;
}
#crew .outer {
  display: flex;
  width: 100%;
}
#crew .outer .one-three-five {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  width: 40%;
  text-align: center;
}
@media (max-width:500px) {
  #crew .outer .one-three-five {
    width: 50%;
  }
}
@media (max-width:800px) {
  #crew .outer .one-three-five {
    width: 50%;
  }
}
#crew .outer2 {
  display: flex;
  justify-content: flex-end;
}
#crew .outer2 .two-four-six {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 30%;
  text-align: center;
}
@media (max-width:500px) {
  #crew .outer2 .two-four-six {
    width: 50%;
  }
}
@media (max-width:800px) {
  #crew .outer2 .two-four-six {
    width: 50%;
  }
}
.footer {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
