.main {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;


        img {
            width: 300px;
            height: 200px;
            margin-bottom: 2rem;
        }

            .outer2 {
                display: flex;
                justify-content: flex-end;



                .second {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: center;
                    width: 30%;
                    text-align: center;
                    @media @mobile {
                        width: 50%;
                    }
                    @media @tablet {
                        width: 50%;
                    }
            
            
                        a {
                            text-decoration: none;
                            color: black;
                        }
               
                }
            }

        .outer {
            display: flex;
            width: 100%;
        

                .one-three {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                    box-sizing: border-box;
                    width: 40%;
                    text-align: center;
                    @media @mobile {
                        width: 50%;
                    }
                    @media @tablet {
                        width: 50%;
                    }
                

                        a {
                            text-decoration: none;
                            color: black;
                        }
                }
        }
}


/********/

#crew {
    display: flex;
    flex-direction: column;
    justify-content: center;

        

        img {
            width: 200px;
            height: 200px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 3rem;
            margin-bottom: 3rem;
            
        }

            h3 {
                text-align: center;
            }

                p {
                    text-align: center;
                }

                    .outer {
                        display: flex;
                        width: 100%;
                    
                        .one-three-five {
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-start;
                            align-items: center;
                            box-sizing: border-box;
                            width: 40%;
                            text-align: center;
                            @media @mobile {
                                width: 50%;
                            }
                            @media @tablet {
                                width: 50%;
                            }
                        }
                    }

                    .outer2 {
                        display: flex;
                        justify-content: flex-end;


                        .two-four-six {
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-end;
                            align-items: center;
                            width: 30%;
                            text-align: center;
                            @media @mobile {
                                width: 50%;
                            }
                            @media @tablet {
                                width: 50%;
                            }
                        }
                    }
}