.main {
    padding-top: 5rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: start;
    @media @mobile {
        flex-direction: column;
    }
    img {
        width: 300px;
        height: 200px;
        margin: 2rem 0rem 2rem 5rem;
    }

    .first {
        margin: 0 auto;
        max-width: 100%;
        width: 70rem;
        text-align: center;


            a {
                text-decoration: none;
                color: black;
            }
        //display: flex;
        //flex-wrap: wrap;
        //box-sizing: border-box;
        //align-items: stretch;
    }
    .second {
        margin: 0 auto;
        max-width: 100%;
        width: 70rem;
        text-align: center;


            a {
                text-decoration: none;
                color: black;
            }
        //display: flex;
        //flex-wrap: wrap;
        //box-sizing: border-box;
        //align-items: stretch;
    }
    .third {
        margin: 0 auto;
        max-width: 100%;
        width: 70rem;
        text-align: center;

            a {
                text-decoration: none;
                color: black;
            }
        //display: flex;
        //flex-wrap: wrap;
        //box-sizing: border-box;
        //align-items: stretch;
    }
}

/********/

#crew {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0rem 30rem 0rem 30rem;

        

        img {
            width: 200px;
            height: 200px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 3rem;
            margin-bottom: 3rem;
            
        }

            h3 {
                text-align: center;
            }

                p {
                    text-align: center;
                }
        
}